{{yield}}
<li class="mini-manifest" >
    <!--<h4><strong>{{#link-to 'rover_manifest/' rover-manifest.id}}{{rover-manifest.name}} Rover{{/link-to}}</strong></h4><br>-->
    <h4><strong>{{rover-manifest.name}} Rover</strong></h4><br>
    <img src="assets/images/{{rover-manifest.miniPortrait}}"><br>
    <p>Status: <em>{{rover-manifest.status}}</em></p>
    <p>{{rover-manifest.totalPhotos}} Images</p>

</li>