{{outlet}}
<h3>{{model.name}} Rover</h3>
<br>
<img id="rover-portrait" src="assets/images/{{model.portrait}}">
<br>
<p id="bio"><Strong>Biography</Strong>: The {{model.name}} rover was launched on {{model.launchDate}} by NASA.
It arrived at mars after months of travel and successfully landed on {{model.landingDate}}.
It's mission is currently {{model.status}} and has taken {{model.totalPhotos}} photos in its illustrious extra-planetary career.
{{model.name}}'s last batch of images were taken on {{model.maxDate}} which is Sol {{model.maxSol}}
(A Sol is a martian day equivalent to 24 hours, 39 minutes, and 35.244 seconds.)</p>

<h4>Cameras on the {{model.name}} rover</h4>
<ol>
    {{#each model.cameras as |camera|}}
       <li> {{camera.fullName}}</li>

    {{/each}}
</ol>


<!--TODO: Image Search MODAL? -->
<!--A few options  https://www.emberobserver.com/addons/ember-pikaday  [PIKDAY] -->

<br>
<br>