<!--<link rel= "stylesheet" type= "text/css" href= "#">-->
<!--{#TODO: WHEN THIS IS PASSED DB DATA#}-->
<div class="md-col-5">
    <div class='rover_bio_pic_data md-col-5'>
        <table class="rover_biopic">
            <tr class="biopic_row">
                <th colspan="4" ><h3 class="rover_name_header">{{ model.name }}</h3></th>
            </tr>
            <tr class="biopic_row">
                <td rowspan="4">
                    <img src="{{model.portrait}}">
                </td>
                <td class="rover_td"><p>Launched {{ model.launch_date }}</p></td>
                <td class="rover_td"><p>{{ model.total_photos }} pictures to date</p></td>
            </tr>
            <tr class="biopic_row">
                <!--<td class="rover_td" colspan="2"><p>Landed on {{ model.landing_date }}</p></td>-->

            </tr>
            <tr class="biopic_row">
                <td class="rover_td"><p>Active up to {{ model.max_date }}</p></td>
                <td class="rover_td"><p>Rover is Currently: {{ model.status }}</p></td>
            </tr>
            <tr class="biopic_row">
                <td class="rover_td" colspan="2"><p>Martian days Spent on Mars: {{ model.max_sol }}</p></td>
                <!--{#                    <td class="rover_td">#}-->
                <!--{#                        <form action="/photos" method="POST">#}-->
                    <!--{#                            <input type="text" value="{{ rover_name }}" hidden="hidden">#}-->
                    <!--{#                            <button type="submit" name = 'picture_search'>Search This Rovers Photo Archive</button>#}-->
                    <!--{#                        </form>#}-->
                <!--{#                    </td>#}-->
            </tr>
        </table>
    </div>

    <form class="form-vertical" method="post" action="/photos">
        <div class="form-group sm-col-4">
            <!--{#        rover will be supplied by the rover_hom_page when the button is clicked#}-->
            <input type="text" value="{{ model.rover_name }}" hidden="hidden" name="rover_name">
            <!--{#        again provided by the call route#}-->
            <input type="date" name="search_day" max="{{ model.max_date }}" min="{{ model.landing_date }}">

            <button type="submit" >Search With These Parameters</button>
        </div>

    </form>
<!--If make photoform seprearte-->
</div>
{{outlet}}
